@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100..900&family=Road+Rage&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: radial-gradient(52.52% 32.71% at 50% 97.66%, rgba(36, 160, 181, 0.20) 0%, rgba(36, 160, 181, 0.00) 100%), #02191D;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.road-rage {
  font-family: "Road Rage", sans-serif;
}

.jost {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.box-gradient{
  background: "radial-gradient(52.52% 32.71% at 0% 0%, rgba(36, 160, 181, 0.20) 0%, rgba(36, 160, 181, 0.00) 100%), #02191D"
}

/* Hide the default arrows in number input fields */
.custom-number-input::-webkit-outer-spin-button,
.custom-number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-number-input {
  -moz-appearance: textfield; /* Firefox */
  appearance: none; /* Standard */
}

